<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home Page</h1>
    {% if latest_cars_list %}
    <ul>
      {% for car in latest_cars_list %}
      <li>
        {{ car.mark }} {{ car.model }} <br />
        {{ car.year }}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No cars are provided.</p>
    {% endif %}
  </body>
</html>
